In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
df = pd.read_csv("6_features.csv")

In [49]:
df.head()

          u         g         r         i         z  redshift  target
0  23.87882  22.27530  20.39501  19.16573  18.79371  0.634794       0
1  24.77759  22.83188  22.58444  21.16812  21.61427  0.779136       0
2  25.26307  22.66389  20.60976  19.34857  18.94827  0.644195       0
3  22.13682  23.77656  21.61162  20.50454  19.25010  0.932346       0
4  19.43718  17.58028  16.49747  15.97711  15.54461  0.116123       0

In [14]:
df['target'].unique()

array([0, 1, 2])

In [16]:
X = df.loc[:, df.columns!= 'target']
y = df['target']

In [18]:
X

              u         g         r         i         z  redshift
0      23.87882  22.27530  20.39501  19.16573  18.79371  0.634794
1      24.77759  22.83188  22.58444  21.16812  21.61427  0.779136
2      25.26307  22.66389  20.60976  19.34857  18.94827  0.644195
3      22.13682  23.77656  21.61162  20.50454  19.25010  0.932346
4      19.43718  17.58028  16.49747  15.97711  15.54461  0.116123
...         ...       ...       ...       ...       ...       ...
99995  22.16759  22.97586  21.90404  21.30548  20.73569  0.000000
99996  22.69118  22.38628  20.45003  19.75759  19.41526  0.404895
99997  21.16916  19.26997  18.20428  17.69034  17.35221  0.143366
99998  25.35039  21.63757  19.91386  19.07254  18.62482  0.455040
99999  22.62171  21.79745  20.60115  20.00959  19.28075  0.542944

[100000 rows x 6 columns]

In [20]:
y

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: target, Length: 100000, dtype: int64

In [22]:
from sklearn.linear_model import LogisticRegression
L_R = LogisticRegression(multi_class="multinomial", max_iter=1000)

In [23]:
from sklearn.ensemble import RandomForestClassifier
R_F = RandomForestClassifier(n_estimators=200, random_state=42)

In [24]:
import xgboost as xgb
XG_B = xgb.XGBClassifier(n_estimators=200, learning_rate=0.1)

In [29]:
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

## LR

In [35]:
L_R.fit(X_train, y_train)
y_hat_L_R = L_R.predict(X_test)
print(classification_report(y_test, y_hat_L_R))

/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(

              precision    recall  f1-score   support

           0       0.96      0.96      0.96     11860
           1       0.94      0.88      0.91      3797
           2       0.94      1.00      0.97      4343

    accuracy                           0.95     20000
   macro avg       0.95      0.94      0.94     20000
weighted avg       0.95      0.95      0.95     20000

## R_F

In [40]:
R_F.fit(X_train, y_train)
y_hat_R_F = R_F.predict(X_test)
print(classification_report(y_test, y_hat_R_F))

              precision    recall  f1-score   support

           0       0.98      0.99      0.98     11860
           1       0.96      0.92      0.94      3797
           2       1.00      1.00      1.00      4343

    accuracy                           0.98     20000
   macro avg       0.98      0.97      0.97     20000
weighted avg       0.98      0.98      0.98     20000

## XG_B

In [43]:
XG_B.fit(X_train, y_train)
y_hat_XG_B = XG_B.predict(X_test)
print(classification_report(y_test, y_hat_XG_B))

              precision    recall  f1-score   support

           0       0.97      0.98      0.98     11860
           1       0.96      0.92      0.94      3797
           2       0.99      0.99      0.99      4343

    accuracy                           0.97     20000
   macro avg       0.97      0.97      0.97     20000
weighted avg       0.97      0.97      0.97     20000

In [53]:
df_0 = pd.read_csv("star_classification.csv")

In [55]:
df_0.head()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842

In [59]:
X_0 = df_0.loc[:, df_0.columns!= 'class']
y_0 = df_0['class']

## Encoding class feature
from sklearn.preprocessing import LabelEncoder

lE = LabelEncoder()

lE.fit(df_0['class'])

df_0['target'] = lE.transform(df_0['class'])

## Number to Category match 
print("Mapping:", dict(zip(lE.classes_, lE.transform(lE.classes_))))

## Drop categorical Class
df_0 = df_0.drop(columns='class')

Mapping: {'GALAXY': 0, 'QSO': 1, 'STAR': 2}

In [61]:
df_0.head()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID,target
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,0.634794,5812,56354,171,0
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,0.779136,10445,58158,427,0
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,0.644195,4576,55592,299,0
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,0.932346,9149,58039,775,0
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,0.116123,6121,56187,842,0

In [81]:
X_train_0, X_test_0, y_train_0, y_test_0 = train_test_split(X_0,y_0, test_size=0.2, random_state=42)

In [65]:
R_F_0 = RandomForestClassifier(n_estimators=200, random_state=42)

In [71]:
R_F_0.fit(X_train_0, y_train_0)
y_hat_R_F_0 = R_F_0.predict(X_test_0)
print(classification_report(y_test_0, y_hat_R_F_0))

              precision    recall  f1-score   support

      GALAXY       0.98      0.99      0.98     11860
         QSO       0.97      0.93      0.95      3797
        STAR       0.99      1.00      1.00      4343

    accuracy                           0.98     20000
   macro avg       0.98      0.97      0.97     20000
weighted avg       0.98      0.98      0.98     20000

In [83]:
XG_B_0 = xgb.XGBClassifier(n_estimators=200, learning_rate=0.1)

In [85]:
XG_B_0.fit(X_train_0, y_train_0)
y_hat_XG_B_0 = XG_B_0.predict(X_test_0)
print(classification_report(y_test_0, y_hat_XG_B_0))

ValueError: Invalid classes inferred from unique values of `y`.  Expected: [0 1 2], got ['GALAXY' 'QSO' 'STAR']

In [77]:
y

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: target, Length: 100000, dtype: int64

In [79]:
y.unique()

array([0, 1, 2])